<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="error-body">
    <%- include("partials/header") %>
     <div class="main-content"> 
  <div class="box">
    <h2>⚠️ Error</h2>
    <p><%= message %></p>
    <a href="/">Go Back</a>
  </div>
  </div>
  <%- include("partials/footer") %>
</body>
</html>