<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<%- include("partials/header", { user: user }) %>
<body class="error-body">
  <div class="box">
    <h2>⚠️ Error</h2>
    <p><%= message %></p>
    <a href="/">Go Back</a>
  </div>
</body>
<%- include("partials/footer") %>
</html>