
<body>
    <%- include("partials/header") %>
  <div class="container">
    <div class="header">
      <h1><%= title %></h1>
      <p><%= message %></p>
    </div>
</div>
    <%- include("partials/footer") %>
    
</body>
